.list {
  margin-left: 2%;
}

.cent {
  display: flex;
  justify-content: center;
}

.text {
  font-size: 30px;
}

.main {

}

.tabler {
  margin: 2%;
  width: 96%;
}

.active1 {
  background-color: #CFCFCF;
}

.default {
  font-size: 20px;

}

.lin {
  display:inline-block;
}

#res {
  width: 100%;
  border: 1px;
}
